<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
 						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
           				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
           				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
	
	<context:annotation-config />

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/hrms_ssh">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
		 <property name="testOnBorrow" value="true"></property>
		  <property name="testOnReturn" value="true"></property>
		  <property name="testWhileIdle" value="true"></property>
		   <property name="validationQuery" value="SELECT 1"></property>
		   <property name="timeBetweenEvictionRunsMillis" value="30000"></property>
		   <property name="minEvictableIdleTimeMillis" value="600000"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/hrms/pojo/Rewardorpunishment.hbm.xml</value>
				<value>com/hrms/pojo/Salary.hbm.xml</value>
				<value>com/hrms/pojo/Worker.hbm.xml</value>
				<value>com/hrms/pojo/Department.hbm.xml</value>
				<value>com/hrms/pojo/Vacation.hbm.xml</value>
				<value>com/hrms/pojo/Cultivation.hbm.xml</value>
				<value>com/hrms/pojo/Attendance.hbm.xml</value>
				<value>com/hrms/pojo/Message.hbm.xml</value>
				<value>com/hrms/pojo/Cultivationperson.hbm.xml</value>
				<value>com/hrms/pojo/Holiday.hbm.xml</value></list>
		</property></bean>
	
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager"> 
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />
	
	<!-- Attendance Part Begin -->
	<bean id="AttendanceAction" class="com.hrms.attendance.actions.AttendanceAction" scope="prototype"></bean>
	<bean id="AttendanceService" class="com.hrms.attendance.services.AttendanceServiceImpl" scope="prototype"></bean>
	<bean id="AttendanceDao" class="com.hrms.attendance.dao.AttendanceDaoImpl" scope="prototype"></bean>
	<!-- Attendance Part End -->
	
	<!-- Vacation Part Begin -->
	<bean id="VacationAction" class="com.hrms.attendance.actions.VacationAction" scope="prototype"></bean>
	<bean id="VacationService" class="com.hrms.attendance.services.VacationServiceImpl" scope="prototype"></bean>
	<bean id="VacationDao" class="com.hrms.attendance.dao.VacationDaoImpl" scope="prototype"></bean>
	<!-- Vacation Part End -->
	
	<!-- Login Part Begin -->
	<bean id="LoginAction" class="com.hrms.login.action.LoginAction"></bean>
	<bean id="LoginService" class="com.hrms.login.service.LoginServiceImpl"></bean>
	<bean id="LoginDao" class="com.hrms.login.dao.LoginDaoImpl"></bean>
	<!-- Login Part End -->
	
	<!-- Message Part Begin -->
	<bean id="MessageAction" class="com.hrms.message.action.MessageAction"></bean>
	<bean id="MessageService" class="com.hrms.message.service.MessageServiceImpl"></bean>
	<bean id="MessageDao" class="com.hrms.message.dao.MessageDaoImpl"></bean>
	<!-- Message Part End -->
	
	<!-- CultivationPerson Part Begin -->
	<bean id="CultivationPersonAction" class="com.hrms.cultivationPerson.action.CultivationPersonAction"></bean>
	<bean id="CultivationPersonService" class="com.hrms.cultivationPerson.service.CultivationPersonServiceImpl"></bean>
	<bean id="CultivationPersonDao" class="com.hrms.cultivationPerson.dao.CultivationPersonDaoImpl"></bean>
	<!-- Cultivation Part End -->
	
	<!-- 杨铭  Department Part Begin -->
	<bean id="DepartmentAction" class="com.hrms.department.action.DepartmentAction"></bean>
	<bean id="DepartmentService" class="com.hrms.department.services.DepartmentServiceImpl"></bean>
	<bean id="DepartmentDao" class="com.hrms.department.dao.DepartmentDaoImpl"></bean>
	<!-- Department Part End -->
	
	<!-- Worker Information add Begin -->
	<bean id="WorkerService" class="com.hrms.worker.services.WorkerAddInformationServiceImpl"></bean>
	<bean id="WorkerDao" class="com.hrms.worker.dao.WorkerAddInformationDaoImpl"></bean>
	<bean id="WorkerAddInformationAction" class="com.hrms.worker.action.WorkerInforAction" scope="prototype"></bean>
	<!-- Worker Information add End -->

	<!-- 杨明杰    分页部门  开始 -->
	<bean id="PageService" class="com.hrms.page.service.PageServiceImpl" scope="prototype"></bean>
	<bean id="PageDao" class="com.hrms.page.dao.PageDaoImpl" scope="prototype"></bean>
	<!-- 杨明杰    分页部门  结束-->
	
	<!-- 杨明杰   发布假期  开始 -->
	<bean id="HolidayAction" class="com.hrms.holiday.action.HolidayAction" scope="prototype"></bean>
	<bean id="HolidayService" class="com.hrms.holiday.service.HolidayServiceImpl" scope="prototype"></bean>
	<bean id="HolidayDao" class="com.hrms.holiday.dao.HolidayDaoImpl" scope="prototype"></bean>
	<!-- 杨明杰    发布假期  结束-->
	
	<!-- 杨明杰  工资管理  开始 -->
	<bean id="SalaryAction" class="com.hrms.salary.action.SalaryAction" scope="prototype"></bean>
	<bean id="SalaryService" class="com.hrms.salary.service.SalaryServiceImpl" scope="prototype"></bean>
	<bean id="SalaryDao" class="com.hrms.salary.dao.SalaryDaoImpl" scope="prototype"></bean>
	<!-- 杨明杰   工资管理  结束-->

</beans>
