<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
 						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
           				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
           				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
	
	<context:annotation-config />

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/hrms_ssh">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/hrms/pojo/Rewardorpunishment.hbm.xml</value>
				<value>com/hrms/pojo/Salary.hbm.xml</value>
				<value>com/hrms/pojo/Worker.hbm.xml</value>
				<value>com/hrms/pojo/Department.hbm.xml</value>
				<value>com/hrms/pojo/Vacation.hbm.xml</value>
				<value>com/hrms/pojo/Cultivation.hbm.xml</value>
				<value>com/hrms/pojo/Attendance.hbm.xml</value>
				<value>com/hrms/pojo/Message.hbm.xml</value>
				<value>com/hrms/pojo/Affiche.hbm.xml</value></list>
		</property></bean>
	
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager"> 
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />
	

	<bean id="AttendanceAct" class="com.hrms.attendance.actions.AttendanceAction" scope="prototype"></bean>
	<bean id="AttendanceSer" class="com.hrms.attendance.services.AttendanceServiceImpl" scope="prototype"></bean>
	<bean id="AttendanceDao" class="com.hrms.attendance.dao.AttendanceDaoImpl" scope="prototype"></bean>
	
	<!-- Login Part Begin -->
	<bean id="LoginAction" class="com.hrms.login.action.LoginAction"></bean>
	<bean id="LoginService" class="com.hrms.login.service.LoginServiceImpl"></bean>
	<bean id="LoginDao" class="com.hrms.login.dao.LoginDaoImpl"></bean>
	<!-- Login Part End -->
	
	<!-- 杨铭  Department Part Begin -->
	<bean id="DepartmentAction" class="com.hrms.department.action.DepartmentAction"></bean>
	<bean id="DepartmentService" class="com.hrms.department.services.DepartmentServiceImpl"></bean>
	<bean id="DepartmentDao" class="com.hrms.department.dao.DepartmentDaoImpl"></bean>
	<!-- Department Part End -->
	
</beans>
